<h1>Welcome to Tech Blog</h1>
<div class="posts">
    {{#each blogs as |blog|}}
        <article>
            <h2>{{blog.title}}</h2>
            <p>{{blog.content}}</p>
            <a href="/post/{{blog.id}}">Read More</a> <!-- A link to view the full post -->
        </article>
    {{/each}}
</div>
